.container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    background-color: #666f98;
    max-width: 800px;
    color: #fff;
}

.bgcolor{
    background-color: #424769;
    color: #fff;
}

.title{
    margin-top: 30px;
}

.formulario{
    width: 40%;
    margin-top: 30px;
    padding: 10px;
    margin-right: 70px;
}

.carousel-item{
    max-height: 417px;
}

.subtitle{
    margin-top: 10px;
}

.impactos, .frequencia{
    margin-top: 10px;
}

.impactos{
    margin-left: 90px;
}

.container button{
    width: 100%;
    justify-content: center;
    background-color: #F7B076;
}

.container button:hover{
    background-color: #F7B076;
}

body{
    background-color: #424769;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="white" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;
}

.custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* .formulario .form-control{
    width: 100%;
} */